.product-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 15px;
    width: auto;
    max-width: auto;
    padding: 50px;
    box-sizing: border-box;
}

/* Ürün kartı */
.product-card {
    height: 550px;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Ürün resmi */
.product-image {
    width: 250px;
    height: 300px;
    border-radius: 50px;
}

.product-image2 {
    display: grid;
    grid-template-columns: auto auto;
}

.product-image2 img {
    width: 300px;
    height: 400px;
    border-radius: 100px;
    margin: 3px;
}

/* Ürün başlığı */
.product-title {
    padding: 15px;
    font-size: 20px;
}

/* Responsive tasarım için medya sorguları */
@media (max-width: 768px) {
    .product-title {
        font-size: 18px;
    }
}


.delivery-options {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.delivery-option {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.delivery-option input[type="radio"] {
    border: 1px solid rgb(255, 0, 0);
    background-color: #000000;
}



.delivery-option label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.address-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.address-card input {
    position: absolute;
    left: 0px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.address-card h3 {
    margin: 0;
    font-size: 16px;
    color: #F44336;
}

.address-card p {
    margin: 5px 0;
    color: #555;
}

.address-actions {
    display: flex;
    justify-content: space-between;
}

.address-actions a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.address-actions a:hover {
    text-decoration: underline;
}